html, body{
	font-size:14px;
}
h2 {
	font-size:2.571em;
}
p, .required-text {
	font-size: 14px;
}
.three-steps h2 {
	font-size: 4em;
}
#three-steps-content h4 {
	font-size: 2.571em;
}
.navbar-brand h1{
	width:250px;
}
#home {
	background:inherit;
	background-image: inherit;

}
.home-background {
	background:inherit;
	background-image: inherit;
	background-image: url('../images/home/fitz-home-flat.jpg');
	background-position: center bottom;
	background-repeat:no-repeat;
}
.about-us-content {
	height: 555px!important;
}
.chromeframe {
	text-align: center;
	font-size:24px;
	padding-top:20px;
}
.more-info-inner .button i, .serviceMenuInfo .services-close i {
	vertical-align: middle;
    margin-left: 10px;
    margin-top: -1px;
}
.not-as-high .navbar-brand h1 {
	width:150px;
}
.testimonial-item .col-sm-3 {
	width:140px;
}
.testimonial-item .col-sm-9 {
	width:600px!important;
} 
.testimonial-item p {
	width:525px;
}
.testimonials-wrapper {
	padding-top:15px!important;
	height: 171px!important;
}
.investor-steps div + div + div + div + div {
	margin-bottom: 40px;
}
.investor-steps div + div + div + div + div .more-divider {
	display: none;
}
#three-steps-control {
	background-image: url('../images/about/bg.png');
	background-repeat: repeat;
}
#three-steps-control span.click-to-close {
	margin-top:0px;
}
#three-steps-control span.click-to-open i {
	vertical-align: inherit;
}
.success-ball {
	background: url('../images/page/round.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	padding:38px 0px;
}
#three-steps-content h4 {
	margin-top:0px;
}
#three-steps-content .click-to-open {
	top:10px!important;
}
 #three-steps-content .click-to-close {
 	top:10px!important;
 }
.success-info {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F141414,endColorstr=#7F141414)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F141414,endColorstr=#7F141414);   /* IE6 & 7 */
      zoom: 1;
	background-repeat: repeat;
}
.kinky-body {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F141414,endColorstr=#7F141414)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F141414,endColorstr=#7F141414);   /* IE6 & 7 */
    zoom: 1;
    background-repeat: repeat;
    height:210px;
}
.success-info b {
   	position: absolute;
    width: 15px;
    height: 9px;
    border:none;
    top: -9px;
    left: 50%;
    margin-left: -8px;
    background: url('../images/page/top.png');
	background-repeat: no-repeat;
	background-position: center;
}
.mortgageUL {
    width:100%;
}
.round {
	background-color: transparent !important;
	background: url('../images/page/investorsRound.png');
	padding-left:30px;
	background-repeat: no-repeat;
	background-position: center;
}
.parallax1 {
	height: 1282px;
}
.service-page {
	background-color:white;
	}
.contentParaInvest {
	width:788px!important;
}
.contentParaInvest h2 {
	width:585px!important;
}
#contact-form label {
	margin-left:12px;
	display: inherit;
}
#contact-form input {
	margin-top:0px!important;
}
.contactInfo ul li + li {
	border-right: none;
}
.contactInfo ul + ul li:first-child + li {
	border-right: solid 1px #666;
}
.contactInfo ul + ul li:first-child + li + li {
	border-right: none;
}
.logos {
	width: 275px;
}
.copyright {
	margin:0 5px!important;
}
.consultingListBox {
	filter:none;
	background-color: #f2f2f2;
}
.modal-body label {
    display: inline-block;
}
.modal-dialog {
	width:930px!important;

}
#modalFormBody .col-md-7 {
	margin-top:28px;
}
#modalFormBody .col-sm-5 {
	margin-top:10px;
}
#modalForm .dropdown .col-sm-2 {
    width: 200px;
    padding-top:7px;
}
#modalForm .dropdown {
	padding-bottom: 20px;
}
#modalForm .dropdown .crediti {
	padding-top:15px;
}
#modalForm .alignGroup {
	margin-top:30px;
}