.sprite {
    display: inline-block;
    background: url("../images/page/sprites.png") no-repeat;
}

.arrowdown {
    width:23px;
    height:14px;
    background-position: -96px -193px;
}
.arrowup {
    width:23px;
    height:14px;
    background-position: -180px -50px;
}
.brokerage_p {
    width:59px;
    height:50px;
    background-position: -0px -54px;
}
.brokerage_w {
    width:59px;
    height:50px;
    background-position: -0px -106px;
}
.commercial_p {
    width:43px;
    height:45px;
    background-position: -96px -146px;
}
.commercial_w {
    width:43px;
    height:45px;
    background-position: -81px -0px;
}
.consulting_p {
    width:42px;
    height:56px;
    background-position: -141px -105px;
}
.consulting_w {
    width:42px;
    height:56px;
    background-position: -107px -47px;
}
.consumer_p {
    width:46px;
    height:42px;
    background-position: -48px -158px;
}
.consumer_w {
    width:46px;
    height:42px;
    background-position: -0px -158px;
}
.downmore {
    width:27px;
    height:27px;
    background-position: -107px -105px;
}
.facebook {
    width:23px;
    height:23px;
    background-position: -184px -163px;
}
.facebook:hover {
    width:23px;
    height:23px;
    background-position: -184px -188px;
}
.left {
    width:14px;
    height:36px;
    background-position: -201px -66px;
}
.marketing_p {
    width:41px;
    height:43px;
    background-position: -141px -163px;
}
.marketing_w {
    width:41px;
    height:43px;
    background-position: -126px -0px;
}
.miniarrowdown {
    width:13px;
    height:8px;
    background-position: -0px -202px;
}
.miniarrowup {
    width:13px;
    height:8px;
    background-position: -15px -202px;
}
.mortgage_p {
    width:44px;
    height:44px;
    background-position: -61px -100px;
}
.mortgage_w {
    width:44px;
    height:44px;
    background-position: -61px -54px;
}
.odin {
    width:79px;
    height:25px;
    background-position: -0px -0px;
}
.odin:hover {
    width:79px;
    height:25px;
    background-position: -0px -27px;
}
.right {
    width:14px;
    height:36px;
    background-position: -185px -99px;
}
.rss {
    width:23px;
    height:23px;
    background-position: -151px -74px;
}
a:hover .rss {
    width:23px;
    height:23px;
    background-position: -169px -0px;
}
.twitter {
    width:23px;
    height:23px;
    background-position: -176px -74px;
}
.twitter:hover {
    width:23px;
    height:23px;
    background-position: -180px -25px;
}
.up_more {
    width:27px;
    height:27px;
    background-position: -151px -45px;
}
