@CHARSET "UTF-8";

body {
	margin-top: 10%;
	margin-bottom: 10%;
}

.sorted-table {
	margin-top: 20px;
	margin-bottom: 10px;
}

table#sortTable {
	width: 160px;
	height: 160px;
	border-collapse: collapse;
	
}

table#sortTable td {
	background-color: #F0F8FF;
	border: 1px solid black;
	padding: 10px;
}

.task-wraper {
	margin-left: 99px;
	background-color: aliceblue;
	padding: 12px 9px;
	border: 1px hidden seashell;
	border-radius: 10px;
	margin-bottom: 45px;
}

.soulution-wraper {
	display: block;
	border: 1px solid blanchedalmond;
	border-radius: 10px;
	width: 160px;
	height: 90px;
	background-color: silver;
	margin-top: 56px;
}

.inner-wraper {
	display: block;
	width: 100px;
	height: 70px;
	background-color: lavender;
	border: 1px solid ghostwhite;
	margin-top: 8px;
	margin-left: 28px;
	border-radius: 20px;
}

.solution-content {
	margin-top: 20px;
	margin-left: 42px;
	font-size: 23px;
	color: navy;
}

.buttons {
	margin-left: -19px;
}

input[type=text] {
    width: 50px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
}

input[type=text].error {
	border: 2px solid red;
	border-radius: 4px;
}