@CHARSET "UTF-8";

audio { 
	width: 768px; 
}

/*Progress bar for audio */
#progressBar { 
   border:1px solid #aaa; 
   color:#fff; 
   width:768px; 
   height:20px;
}
#progress {
   background-color:#ff0000; 
   height:20px;
   display:inline-block;
}


#textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 200px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 100%;
}

#texarea-chunck-updown {
	height: 100px;/
	width: 100%;
	padding: 2px;
	resize: both;
	font: medium -moz-fixed;
    font: -webkit-small-control;
}

#texarea-chunck-side-left {
	height: 200px;/
	width: 50%;
	padding: 2px;
	resize: both;
	font: medium -moz-fixed;
    font: -webkit-small-control;
}

#texarea-chunck-side-right {
	margin-left: 50%;
	height: 200px;/
	width: 50%;
	padding: 2px;
	resize: both;
	font: medium -moz-fixed;
    font: -webkit-small-control;
}

/* Login and register */
.login-body {
	margin-top: 10%;
	background-color: #222222;
}

.auth-wrapper {
	display: block;
	border: 1px double gray;
	border-width:10px;
	background-color: gray;
}

.auth-title {
	background-color: silver;
	font-weight: bold;
	font-size: 200%;
	text-align: center;
}

.auth-content {
	background-color: #A9A9A9;
	padding: 20px;
}

.auth-btn {
	width: 100%;
	background-color: #fff;
	border-style: solid;
	border-radius: 5px;
	height: 40px;
}

.auth-btn:ACTIVE {
	border-style: dashed;
	border-color: gray;
}	
/* Top navigation */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

.nav li.right {
	float: right;		
}

.nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover, .dropdown:hover .dropbtn {
    background-color: #F0F8FF;
    color: #000000;
}

.nav li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Side navigation */
.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #333;
    position: fixed;
    height: 100%;
    overflow: auto;
    border: 1px solid #555;
}
.sidenav li {
	text-align: center;
	height: 50px;
}
.sidenav li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    height: 50px;
}

.sidenav li a:active {
    background-color: #4CAF50;
    color: white;
}

.sidenav li a:hover:not(.active) {
    background-color: #F0F8FF;
    color: #000000;
}

/* Statistic tables */


.statstab table, .profile-stats-table table {
	width: 100%;
}


.statstab tr:nth-child(even), .profile-stats-table tr:nth-child(even) {
	background: #fff
}

.statstab tr:nth-child(odd), .profile-stats-table tr:nth-child(odd) {
	background: #F0F8FF
} 

.statstab td:first-child, .profile-stats-table td:first-child  {
	text-align: left;
}

.statstab th, .profile-stats-table th {
	background-color: #000;
	color: #fff;
	padding: 5px;
	text-align: center;
	height: 25px;
}

.statstab td {
	width: 20%
	color: #000;
	padding: 5px;
	text-align: center;
	height: 25px;
}

.profile-stats-table td {
	padding: 5px;
	text-align: center;
	height: 25px;
}


.stats-all-table {
	display: block;
	background-color: #DCDCDC;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 50px;
	padding: 10px;
}

.stats-label {
	margin-top: 100px;
}

.stats-media-title {
	font-weight: bold;
	font-size: 150%;
	border-bottom: 1px solid silver;
	width: 25%;
}

/* instant message tables */

.inbox-table {
	margin-top: 20px;
}

.inbox-table table {
	width: 100%;
}

.inbox-table tr {
	background-color: #f2f2f2;
	border-bottom: 1px solid black;
}

.inbox-table tr:HOVER {
	background-color: silver;
	border-bottom-color: #e6e6e6;
	cursor: pointer; 
	cursor: hand;
}


.inbox-table td {
	height: 50px;
	padding: 10px;
	
}

.inbox-table td:first-child {
	padding-bottom: 20px;
}

.inbox-table td:nth-child(odd) {
	padding-top: 20px;
}


/* Master layout style */
.title-wraper {
	
	background-color: #A9A9A9;
	
}

.desc-wraper, .stats-desc-wraper {
	
	display: block;
	padding: 10px;
	background-color: #F0F8FF;
	word-wrap: break-word;
	border-radius: 10px;
	
}

.stats-desc-wraper {
	margin-top: 20px;
	width: 80%;
}

.block-wraper {
	
	disply: block;
	padding: 20px;
	border: 1px solid #888a85;
	border-radius: 10px;
	
	
}


.activity-label-active {
	width: 15px;
	height: 15px;
	display: block;
	border-radius: 10px;
	background-color: green;
}

.activity-label-inactive {
	width: 15px;
	height: 15px;
	display: block;
	border-radius: 10px;
	background-color: red;
}


.no-content-picture {
	margin-top: 50px;
}

.profile-no-content {
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: 900;
	font-style: italic;
	font-size: 200%;
	opacity: 0.5;
	margin-top: 50px;
}

.not-readed {
	font-weight: bold;
	font-style: italic;	
}




