@CHARSET "UTF-8";

.mail-body {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	background-color: #00FFFF;
}

.mail-header {
	display: block;
	background-color: #6495ED;
	padding: 10px;
}

.mail-content {
	display: block;
	padding: 10px;
}

.mail-footer {
	display: block;
	background-color: #CD5C5C;
	padding: 10px;
}